In [ ]:
# Esto es un comentario
print("Hola Mundo")  # Esto imprime "Hola Mundo"


"""
fhdshfjdsf
fhidhsihfsd
ddhdhaia
hdhd
"""

In [ ]:
!ls -a

In [ ]:
print("Hola", "Mundo")

print("Hola" + "Mundo")

print("Hola", "Mundo", sep="-")  # Imprime: Hola-Mundo

print("Hola", end="")
print("Mundo")  # Imprime: HolaMundo

In [ ]:
nombre = "José"
carrera = "ICO, la mejor"
print("Mi nombre es {1} y estudio {0} en la FES Aragón".format(nombre, carrera))
print(f"Mi nombre es {nombre*2} y estudio {carrera} dentro de la FES")

In [ ]:
# Operadores aritméticos
suma = 5 + 3    # 8
resta = 5 - 3   # 2
producto = 5 * 3  # 15
division = 5 / 3 # 1.66667
division2 = 5 // 3 # 1
módulo = 5 % 3 # 2
potencia = 5 ** 3  # 125

In [ ]:
potencia

In [ ]:
# Operadores de comparación
igual = 5 == 3 # Falso
igual2 = 5 == 5 #True
diferente = 5 != 3 # Verdadero
mayor_que = 5 > 3 # Verdadero
menor_que = 5 < 3 # Falso
mayor_o_igual_que = 5 >= 3 # Verdadero
menor_o_igual_que = 5 <= 3 # Falso

In [ ]:
diferente

True

In [ ]:
# Operadores lógicos
y = True and False # Falso
o = True or False # Verdadero
no = not True # false
no2 = not False #True

In [ ]:
False or (True and False)

False

In [ ]:
saludo = "Hola Mundo"
cita = 'Los alumnos\n de ICO\t\t \'dicen\': "Hola Mundo"'
parrafo = """Esto es un párrafo
que abarca varias
líneas"""

In [ ]:
print(cita)

Los alumnos
 de ICO		 'dicen': "Hola Mundo"

In [ ]:
def fn_uno():
    print("Hola")

a, b, c = 10, "Hola", [2.3, 3.4]
print(a)
print(b)
print(c)
print(c[1])

10
Hola
[2.3, 3.4]
3.4

In [ ]:
# entrada por teclado
nombre = input("Por favor, introduce tu nombre: ")
print(f"Hola {nombre}!")

Por favor, introduce tu nombre: Jesus padrino
Hola Jesus padrino!

In [ ]:
numero = int(20)
print(numero)

20

In [ ]:
edad = int(input("Introduce tu edad:"))
print(f"{nombre} tiene {edad} años")
print(f"{nombre} tiene {edad + 1} años")

Introduce tu edad:20
Jesus padrino tiene 20 años
Jesus padrino tiene 21 años

In [ ]:
#TIPOS DE DATOS

mensaje = "Hola Mundo"  # String
edad = 20 # Entero
pi = 3.14159 # Float
es_mayor = True # Boolean
imaginario = 3 + 4j     # Imaginario

In [ ]:
pi * 2.0

6.28318

In [ ]:
#LISTAS

#       0.          1.          2.
#       -3.          -2.          -1.
frutas = ['limon', 'aguacate', 'fresa',]

print(frutas[2])
print(frutas[-1])

fresa
fresa

In [ ]:
cosas = ['limon', '10', '3.1416', True, [1,2,3,4], "hola"]
print(cosas)

['limon', '10', '3.1416', True, [1, 2, 3, 4], 'hola']

# slicing en python

[inicio : stop: step ]

Es la posibilidad de obtener rebanadas a partir de un tipo de datos listas o tuplas, en general de un iterable. UN tipo de dato String es un iterale

Por defecto
inicio = 0

stop es igual al tamaño de la variable

step = 1

In [ ]:
ejemplo = [1,2,3,4,5,6, 'a', 'b', 'c', 'd', 'e',]
print(ejemplo)

[1, 2, 3, 4, 5, 6, 'a', 'b', 'c', 'd', 'e']

In [ ]:
#si no se indican los valores el sistema toma los valores por defecto
rebanada = ejemplo[6:9:1]
print(rebanada)

['a', 'b', 'c']

In [ ]:
#Duplas son con ()
#listas son con []

frutas_dos = ('Aguacate', 'Limon', 'Naranja',)

print(frutas)
print(frutas_dos)

frutas[1] = 'Piña'
#frutas_dos[1] = 'piña'

print(frutas[1])
print(frutas_dos[1])

print(frutas_dos[1:2:1])
print(frutas_dos[-1])

['limon', 'Piña', 'fresa']
('Aguacate', 'Limon', 'Naranja')
Piña
Limon
('Limon',)
Naranja

# Diccionarios teoría

1. Es un conjunto de pares llave valor
1. Agrupados por ':'
1. La llave siempre es de tipo String
1. El valor puede ser de cualquier tipo
1. El selector de la forma ['llave']
1. mutable
1. Se declara entre los caracteres '{' y '}'
1. Los pares estab separados por comas ','

In [ ]:
alumno = {'numero_cuenta' : 1232322, 'carrera': 'ICO',
          'direccion': {'calle' : 'rancho seco', 'numero' : 23}

          }
print(alumno['direccion']['numero'])
print(alumno['direccion']['calle'][3:6:1])

23
cho